@model WebBanHangMVC.ViewModels.RegisterVM
@{
    ViewData["Title"] = "Đăng ký";
}
<br />
<br />
<br />
<br />
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Đăng Ký Thành Viên</h3>
                        <form asp-action="DangKy" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div data-mdb-input-init class="form-outline">
                                        <label asp-for="@Model.MaKh" class="form-label my-3"></label><sup>*</sup>
                                        <input asp-for="@Model.MaKh" class="form-control">
                                        <span asp-validation-for="@Model.MaKh" class="text-danger"></span>
                                    </div>
                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label my-3" asp-for="@Model.HoTen"></label><sup>*</sup>
                                        <input asp-for="@Model.HoTen" class="form-control" />
                                        <span asp-validation-for="@Model.HoTen" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div data-mdb-input-init class="form-outline">
                                        <label asp-for="@Model.MatKhau" class="form-label my-3"></label><sup>*</sup>
                                        <input asp-for="@Model.MatKhau" class="form-control">
                                        <span asp-validation-for="@Model.MatKhau" class="text-danger"></span>

                                    </div>
                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label my-3" asp-for="@Model.DiaChi"></label><sup>*</sup>
                                        <input asp-for="@Model.DiaChi" class="form-control" />
                                        <span asp-validation-for="@Model.DiaChi" class="text-danger"></span>

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div data-mdb-input-init class="form-outline datepicker w-100">
                                        <label class="form-label my-3" asp-for="@Model.NgaySinh"></label>
                                        <input asp-for="@Model.NgaySinh" class=" form-control" />
                                        <span asp-validation-for="@Model.NgaySinh" class="text-danger"></span>

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <h6 class="mb-2 pb-1">Giới Tính: </h6>

                                    <div class="form-check form-check-inline">
                                        <input asp-for="@Model.GioiTinh" class="form-check-input">
                                        <label class="form-check-label" for="GioiTinh">Nam</label>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label my-3" asp-for="@Model.Email"></label><sup>*</sup>
                                        <input asp-for="@Model.Email" class="form-control" />
                                        <span asp-validation-for="@Model.Email" class="text-danger"></span>

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label my-3" asp-for="@Model.DienThoai"></label><sup>*</sup>
                                        <input asp-for="@Model.DienThoai" class="form-control" />
                                        <span asp-validation-for="@Model.DienThoai" class="text-danger"></span>

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <label class="form-label my-3" for="Hinh">Hình</label>
                                    <input type="file" name="Hinh" class="form-control" />

                                </div>
                            </div>

                            <div class="mt-4 pt-2">
                                <input data-mdb-ripple-init class="btn btn-primary btn-lg" type="submit" value="Xác Nhận" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>