@model WebBanHangMVC.Data.KhachHang
﻿@{
    ViewData["Title"] = "Profile";
}

<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="~/Hinh/KhachHang/@Model.Hinh" class="img-fluid my-5" style="width: 100px;" />
                            <br />
                            <h5>@Model.HoTen</h5>
                            <p>Web Designer</p>
                            <i class="far fa-edit mb-5"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Thông tin khách hàng</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Email</h6>
                                        <p class="text-muted">@Model.Email</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Điện Thoại</h6>
                                        <p class="text-muted">@Model.DienThoai</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Ngày sinh</h6>
                                        <p class="text-muted">@Model.NgaySinh.ToShortDateString()</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Địa chỉ</h6>
                                        <p class="text-muted">@Model.DiaChi</p>
                                    </div>
                                </div>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <a asp-action="DanhSachHoaDon" class="btn btn-primary">Xem Đơn Hàng</a>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <a asp-action="ChinhSuaProfile" class="btn btn-primary">Chỉnh sửa</a>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <a asp-action="DangXuat" class="btn btn-primary">Đăng xuất</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>