@using X.PagedList
@using X.PagedList.Mvc.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IPagedList<WebBanHangMVC.Data.HoaDon>

@{
    ViewData["Title"] = "DanhSachHoaDon";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh Sách Hóa Đơn</h1>
<p>@TempData["Message"]</p>
<form asp-action="DanhSachHoaDon" method="get" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
        <input type="text" name="searchString" class="form-control bg-light border-0 small" placeholder="Tìm kiếm" value="@ViewData["CurrentFilter"]">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit"><i class="fas fa-search fa-sm"></i></button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                <p>Mã</p>
            </th>
            <th>
                <p>Account</p>
            </th>
            <th>
                <p>Ngày Đặt</p>
            </th>
            <th>
                <p>Họ Tên</p>
            </th>
            <th>
                <p>Địa Chỉ</p>
            </th>
            <th>
                <p>Điện Thoại</p>
            </th>
            <th>
                <p>Payment</p>
            </th>
            <th>
                <p>Shipping</p>
            </th>
            <th>
                <p>State</p>
            </th>
            <th>
                <p>Ghi Chú</p>
            </th>
            <th>
                <p>Hành Động</p>
            </th>
            <th>
                <p>Xem</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CachThanhToan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CachVanChuyen)
                </td>
                <td>
                    @if (ViewBag.TrangThaiMapping.ContainsKey(item.MaTrangThai))
                    {
                        @ViewBag.TrangThaiMapping[item.MaTrangThai]
                    }
                    else
                    {
                        <p>Trạng thái không xác định</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GhiChu)
                </td>
                <td>
                    <a href="@Url.Action("ChonTrangThai", "HomeAdmin", new { maHd = item.MaHd })" class="btn btn-primary">Chuyển trạng thái</a>
                </td>
                <td>
                    <a href="@Url.Action("ChiTietHoaDon", "HomeAdmin", new { maHd = item.MaHd })">Xem</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination d-flex justify-content-center mt-5">
    @Html.PagedListPager(Model, page => Url.Action("DanhSachHoaDon", new { page, searchString = ViewData["CurrentFilter"] }))
</div>